@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: 700 #{rem(20px)} / 100% $ff_base;
    text-transform: uppercase;
    padding: rem(25px) rem(30px);
    border-radius: 999px;
    color: $bg_body;
    background: $c_green;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include hover {
        transform: scale(0.99);
    }
    &--lg {
        font-size: rem(24px);
    }

    @include media('mobile') {
        font-size: rem(16px);
        width: 100%;
        padding: rem(18px);
    }
}
