@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.schedule-box {
    display: inline-flex;
    flex-direction: column;
    border-radius: rem(24px);
    position: relative;
    padding: rem(34px) rem(14px) rem(19px);
    background: linear-gradient(
        135deg,
        rgba(243, 247, 238, 0.6) 0%,
        rgba(243, 247, 238, 0.2) 100%
    );
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
    color: $c_green;
    @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    &__close {
        top: rem(19px);
        right: rem(19px);
        position: absolute;
        width: rem(18px);
        height: rem(18px);
        color: #000;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: rem(15px);
        margin-bottom: rem(25px);

        svg {
            width: rem(48px);
            height: rem(48px);
        }
    }

    &__text {
        font: 400 #{rem(16px)} / 100% $ff_base;
        text-transform: lowercase;
        display: inline-flex;
        color: $c_text;

        &--underline {
            position: relative;
            text-transform: uppercase;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: rem(-2px);
                background: $c_text;
            }
        }
    }

    &__time {
        font: 700 #{rem(40px)} / 100% $ff_sec;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(19px);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(10px);
    }

    &__subtext {
        font: 400 #{rem(14px)} / 100% $ff_base;
        text-transform: lowercase;
        margin-bottom: rem(8px);
        color: $c_text;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: rem(11px);
        padding: rem(16px) rem(10px) rem(8px);
        background: #f3f7eee5;
        box-shadow: 10px -1px 27.4px 0px #0000001a;
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.4);

        &:has(.schedule-box__label) {
            .schedule-box__text {
                margin-bottom: rem(10px);
            }
        }
    }

    &__price {
        font: 700 #{rem(30px)} / 100% $ff_sec;
        margin-bottom: rem(3px);
    }

    &__label {
        font: 400 #{rem(12px)} / 100% $ff_base;
        text-transform: lowercase;
        color: $c_text;
        opacity: 0.4;
    }
}
