<footer class="footer" id="contacts">
    <div class="container">
        <div class="footer__details">
            <div class="footer__handlers">
                <ul class="footer__socials">
                    <li>
                        <a target="_blank" href="javascript: void(0)">
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoYouTube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript: void(0)">
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoTT"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript: void(0)">
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoInst"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <button type="button" class="footer__anchor js-to-top">
                    <svg>
                        <use href="./assets/images/icons/svg/sprite.svg#icoArrow"></use>
                    </svg>
                </button>
            </div>
            <div class="footer__info">
                <p class="footer__title">Як нас знайти?</p>
                <div class="footer__address">
                    <p class="footer__subtitle">Адреса</p>
                    <p class="footer__connect">вул. Курортна, Сатанів, Хмельницька область</p>
                    <a target="_blank" href="javascript: void(0)" class="footer__road">
                        прокласти маршрут
                        <svg>
                            <use href="./assets/images/icons/svg/sprite.svg#icoArrowR"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__contacts">
                    <div class="footer__contact">
                        <p class="footer__subtitle">Телефон</p>
                        <a href="tel:+380673134400" class="footer__connect">+38 (067) 313-44-00</a>
                    </div>
                    <div class="footer__contact">
                        <p class="footer__subtitle">E-mail</p>
                        <a href="mailto:info@parkarden.com.ua" class="footer__connect">
                            info@parkarden.com.ua
                        </a>
                    </div>
                </div>
                <div class="footer__legals">
                    <a target="_blank" href="javascript: void(0)">
                        Публічна оферта
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__bg">
            <img loading="lazy" decoding="async" src="./assets/images/bg-bear.svg" alt="">
        </div>
    </div>
    <div class="footer__terms">
        <div class="container">
            <div class="footer__copy">
                <p>© 2026 Park Arden. Усі права захищені.</p>
            </div>
            <div class="footer__by">
                <p>DESIGN AND DEVELOP BY <a target="_blank" href="javascript: void(0)">ESFIRUM</a></p>
            </div>
        </div>
    </div>
</footer>