<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- meta -->
<title>Site Name | {{ pageName }}</title>
<meta name="description" content="Site Name | {{ pageDescription }}">
<link rel="shortcut icon" href="./assets/images/favicon/favicon.png" type="image/png" />
<!-- fonts -->
<link rel="preload" href="./assets/fonts/ff_accent_300.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/ff_accent_500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/ff_base_400.woff2" as="font" type="font/woff2" crossorigin>
<!-- style -->
<link rel="stylesheet" href="./assets/css/libs@@suffix.css">
<link rel="stylesheet" href="./assets/css/style@@suffix.css">
<!-- scripts -->
<script defer src="./assets/js/libs@@suffix.js"></script>
<script type="module" defer src="./assets/js/app@@suffix.js"></script>