@mixin font-face($font-family, $url, $weight, $style) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('../fonts/#{$url}.woff2') format('woff2');
        font-weight: #{$weight};
        font-display: swap;
        font-style: $style;
    }
}

@include font-face('Arial', 'ff_base_400', 400, normal);
@include font-face('Arial', 'ff_base_700', 700, normal);
@include font-face('Helvetica', 'ff_sec_700', 700, normal);
