@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.footer {
    & > .container {
        position: relative;
        overflow: hidden;
    }

    &__title {
        font: 700 #{rem(30px)} / 111% $ff_sec;
        text-transform: uppercase;
        margin-bottom: rem(10px);
        @include media('mobile') {
            font-size: rem(22px);
        }
    }

    &__subtitle {
        font: 700 #{rem(20px)} / 101% $ff_base;
        text-transform: uppercase;
        color: $c_accent;
        @include media('mobile') {
            font-size: rem(18px);
        }
    }

    &__connect {
        font: 400 #{rem(18px)} / 100% $ff_base;
        @include media('mobile') {
            font-size: rem(16px);
        }
    }

    &__contacts {
        display: flex;
        gap: rem(40px);
        flex-wrap: wrap;
        @include media('mobile') {
            gap: rem(24px);
        }
    }

    &__road {
        font: 700 #{rem(18px)} / 101% $ff_base;
        display: inline-flex;
        align-items: center;
        gap: rem(16px);
        color: $c_green;
        @include hover {
            svg {
                transform: translateX(#{rem(3px)});
            }
        }

        svg {
            width: rem(25px);
            height: rem(25px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__legals {
        font: 400 #{rem(18px)} / 100% $ff_base;
        display: flex;
        align-items: center;
        gap: rem(5px);
        flex-wrap: wrap;
        @include media('mobile') {
            font-size: rem(16px);
        }
        * {
            text-decoration: underline;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        @include media('mobile') {
            gap: rem(28px);
        }
    }

    &__address,
    &__contact {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        @include media('mobile') {
            gap: rem(10px);
        }
    }

    &__bg {
        transform: translateX(#{rem(50px)});
        z-index: -1;
        pointer-events: none;
        max-width: 60%;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__terms {
        font: 400 #{rem(18px)} / 100% $ff_base;
        padding-block: rem(30px);
        background: #6fb46c;
        color: #00000080;
        @include media('mobile') {
            font-size: rem(14px);
            padding-block: rem(18px);
            text-align: center;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(24px);
            @include media('mobile') {
                flex-direction: column;
                gap: rem(12px);
            }
        }
    }

    &__by {
        text-transform: uppercase;
    }

    &__details {
        max-width: rem(682px);
        display: flex;
        justify-content: space-between;
        gap: rem(24px);
        padding-block: rem(100px) rem(110px);
        @include media('mobile') {
            max-width: 100%;
            padding-block: rem(56px);
            flex-direction: column-reverse;
        }
    }

    &__handlers {
        display: flex;
        flex-direction: column;
        gap: rem(18px);
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: rem(18px);
        padding-inline: rem(8px);
        @include media('mobile') {
            padding: 0;
            gap: rem(12px);
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        li {
            display: inline-flex;
        }

        a {
            width: rem(48px);
            height: rem(48px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                transform: scale(1.05);
            }
            @include media('mobile') {
                width: rem(32px);
                height: rem(32px);
            }
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__anchor {
        margin-top: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: rem(64px);
        height: rem(64px);
        background: $c_green;
        color: $c_white;
        @include media('mobile') {
            margin-left: auto;
            width: rem(42px);
            height: rem(42px);
        }

        @include hover {
            svg {
                transform: translateY(#{rem(-2px)});
            }
        }

        svg {
            width: rem(23px);
            height: rem(26px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile') {
                width: rem(16px);
            }
        }
    }
}
