<div class="aside-menu js-aside-menu">
    <div class="aside-menu__box js-aside-box">
        <div class="nav-block js-nav-block">
            <ul class="nav-block__list">
                <li>
                    <a href="#section-about">Про парк</a>
                </li>
                <li>
                    <a href="#section-animals">Тварини</a>
                </li>
                <li>
                    <a href="#section-gallery">Галерея</a>
                </li>
                <li>
                    <a href="#section-info">Підтримка</a>
                </li>
                <li>
                    <a href="#section-info">Прайс</a>
                </li>
                <li>
                    <a href="#section-map">Карта</a>
                </li>
                <li>
                    <a href="#contacts">Контакти</a>
                </li>
            </ul>
        </div>
        <a href="tel:+380673134400" class="cta cta--lg">+38 (067) 313-44-00</a>
        <div class="bg-layer">
            <img src="./assets/images/bg-forest.svg" alt="">
        </div>
    </div>
</div>