<div class="schedule-box js-schedule-box">
    <button type="button" class="schedule-box__close js-schedule-close">
        <svg>
            <use href="./assets/images/icons/svg/sprite.svg#icoClose"></use>
        </svg>
    </button>
    <div class="schedule-box__head">
        <svg>
            <use href="./assets/images/icons/svg/sprite.svg#icoClock"></use>
        </svg>
        <p class="schedule-box__text">Сьогодні</p>
        <span class="schedule-box__time">10:00–17:00</span>
    </div>
    <div class="schedule-box__content">
        <p class="schedule-box__text schedule-box__text--underline">весь графік</p>
        <ul class="schedule-box__list">
            <li class="schedule-box__item">
                <p class="schedule-box__subtext">дорослий</p>
                <p class="schedule-box__price">400</p>
                <p class="schedule-box__subtext">грн</p>
            </li>
            <li class="schedule-box__item">
                <p class="schedule-box__subtext">дитячий</p>
                <p class="schedule-box__price">300</p>
                <p class="schedule-box__subtext">грн</p>
                <p class="schedule-box__label">6-14 років</p>
            </li>
            <li class="schedule-box__item">
                <p class="schedule-box__subtext">до 6 років</p>
                <p class="schedule-box__price">0</p>
                <p class="schedule-box__subtext">грн</p>
                <p class="schedule-box__label">безкоштовно</p>
            </li>
        </ul>
    </div>
</div>