<section class="charity" id="section-about">
    <div class="container">
        <div class="charity__content">
            <div class="charity__pic">
                <img loading="lazy" decoding="async" src="./assets/images/bear.png" alt="Picture">
            </div>
            <div class="charity__details">
                <img loading="lazy" decoding="async" src="./assets/images/icons/branch.svg" alt="Icon">
                <div class="charity__txts">
                    <h2>
                        Ми даруємо врятованим тваринам другий шанс і знайомимо людей із дикою природою.
                    </h2>
                    <p>
                        <span>
                            Park Arden — це більше, ніж парк. Це безпечний дім для тварин, які потребують турботи, та
                            місце,
                            де
                            кожен відвідувач може відчути справжній зв'язок із природою.
                        </span>
                    </p>
                    <p>
                        У нашому парку мешкають врятовані тварини, які отримали нове життя завдяки небайдужим людям. Під
                        час
                        екскурсії ви познайомитеся з їхніми історіями, дізнаєтеся більше про їхні звички та побачите, як
                        любов і турбота можуть змінити долю кожної живої істоти.
                    </p>
                </div>
                <a href="shelter.html" class="link-primary">Благодійний внесок</a>
            </div>
        </div>
    </div>
    <div class="bg-brach bg-brach--l">
        <img src="./assets/images/icons/bg-branch_1.svg" alt="">
    </div>
    <div class="bg-brach bg-brach--r">
        <img src="./assets/images/icons/bg-branch_1.svg" alt="">
    </div>
</section>