<section class="donation">
    <div class="container">
        <div class="donation__content">
            <p class="donation__headline">КОЖЕН ВІЗИТ — ЦЕ ДОПОМОГА</p>
            <h2 class="section-subtitle">Станьте частиною доброї справи</h2>
            <a href="shelter.html" class="cta">Зробити внесок</a>
        </div>
    </div>
    <div class="donation__bg donation__bg--l">
        <img src="./assets/images/bg-bear.png" alt="">
    </div>
    <div class="donation__bg donation__bg--r">
        <img src="./assets/images/bg-tiger.png" alt="">
    </div>
</section>