<section class="information">
    <div class="container">
        <h2 class="section-subtitle">Інформація для відвідувачів</h2>
        <div class="information__head">
            <div class="info-card info-card--schedules">
                <p class="info-card__title">ГРАФІК РОБОТИ <br> ПАРКУ</p>
                <div class="info-card__boxes">
                    <div class="info-card__schedule u-light">
                        <p class="info-card__text">Пн–Пт</p>
                        <div class="info-card__hours">
                            <span>10:00</span>
                            <span>17:00</span>
                        </div>
                        <p class="info-card__text">щогодини</p>
                    </div>
                    <div class="info-card__schedule u-light">
                        <p class="info-card__text">Сб–Нд</p>
                        <div class="info-card__hours">
                            <span>10:00</span>
                            <span>18:00</span>
                        </div>
                        <p class="info-card__text">щогодини</p>
                    </div>
                </div>
            </div>
            <div class="info-card info-card--details">
                <p class="info-card__title">Екскурсії за попереднім замовленням</p>
                <div class="info-card__reminder u-light">
                    <p>
                        Якщо ви плануєте завітати до нас групою 15–25 осіб (з однокласниками, колегами чи друзями), щоб поспостерігати за нашими хижаками, дізнатися більше про їхнє життя та отримати цікаву інформацію від наших фахівців, пропонуємо екскурсію в супроводі окремого екскурсовода без очікування в черзі.
                    </p>
                </div>
                <p class="info-card__subtitle">Потрібна попередня реєстрація за 1 день!</p>
            </div>
            <div class="info-card info-card--prices">
                <p class="info-card__title">ВАРТІСТЬ <br> ВІДВІДУВАННЯ</p>
                <div class="info-card__boxes">
                    <div class="info-card__price u-light">
                        <p class="info-card__text">дорослий</p>
                        <span class="info-card__cost">400</span>
                        <p class="info-card__text">грн</p>
                    </div>
                    <div class="info-card__price u-light">
                        <p class="info-card__text">дитячий</p>
                        <span class="info-card__cost">300</span>
                        <p class="info-card__text">грн</p>
                        <p class="info-card__label">6-14 років</p>
                    </div>
                    <div class="info-card__price u-light">
                        <p class="info-card__text">до 6 років</p>
                        <span class="info-card__cost">0</span>
                        <p class="info-card__text">грн</p>
                        <p class="info-card__label">безкоштовно</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="information__foot">
            <div class="info-card info-card--badge">
                <img loading="lazy" decoding="async" src="./assets/images/icons/info_1.png" alt="Icon">
                <p>
                    Екскурсії щогодини або вільне відвідування - обирайте зручний формат.
                </p>
            </div>
            <div class="information__connect">
                <a href="tel:+380673134400" class="information__phone">+38 (067) 313-44-00</a>
                <a href="javascript: void(0)" class="cta">Записатись</a>
            </div>
            <div class="info-card info-card--badge">
                <img loading="lazy" decoding="async" src="./assets/images/icons/info_2.png" alt="Icon">
                <p>
                    З міркувань безпеки вхід до парку з домашніми тваринами заборонено. Дякуємо за розуміння!   
                </p>
            </div>
        </div>
    </div>
    <div class="bg-layer">
        <img src="./assets/images/bg-forest.svg" alt="">
    </div>
</section>