<section class="reviews">
    <div class="container">
        <div class="reviews__content">
            <div class="reviews__head">
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoQuote"></use>
                </svg>
                <h2 class="section-subtitle">Відгуки</h2>
            </div>
            <div class="reviews__slider js-reviews-slider">
                <div class="reviews__answers swiper">
                    <div class="reviews__wrapper swiper-wrapper">
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__answer">
                                <p>
                                    Неймовірне місце, де відчувається справжня турбота про тварин. Дуже сподобалося, що екскурсоводи не просто проводять екскурсію, а розповідають історії кожного мешканця парку. Обов'язково приїдемо ще!"
                                </p>
                                <p>Олена К.</p>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__answer">
                                <p>
                                    Неймовірне місце, де відчувається справжня турбота про тварин. Дуже сподобалося, що екскурсоводи не просто проводять екскурсію, а розповідають історії кожного мешканця парку. Обов'язково приїдемо ще!"
                                </p>
                                <p>Олена К.</p>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__answer">
                                <p>
                                    Неймовірне місце, де відчувається справжня турбота про тварин. Дуже сподобалося, що екскурсоводи не просто проводять екскурсію, а розповідають історії кожного мешканця парку. Обов'язково приїдемо ще!"
                                </p>
                                <p>Олена К.</p>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__answer">
                                <p>
                                    Неймовірне місце, де відчувається справжня турбота про тварин. Дуже сподобалося, що екскурсоводи не просто проводять екскурсію, а розповідають історії кожного мешканця парку. Обов'язково приїдемо ще!"
                                </p>
                                <p>Олена К.</p>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__answer">
                                <p>
                                    Неймовірне місце, де відчувається справжня турбота про тварин. Дуже сподобалося, що екскурсоводи не просто проводять екскурсію, а розповідають історії кожного мешканця парку. Обов'язково приїдемо ще!"
                                </p>
                                <p>Олена К.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__pag js-reviews-pag"></div>
            </div>
        </div>
    </div>
    <div class="bg-layer">
        <img src="./assets/images/tiger.png" alt="">
    </div>
</section>