<section class="shelter">
    <div class="container">
        <h1 class="section-title">ПІДТРИМАТИ ПРИТУЛОК</h1>
        <div class="shelter__content">
            <div class="shelter__pic">
                <img src="./assets/images/shelter.png" alt="Picture">
            </div>
            <div class="shelter__details">
                <div class="shelter__info">
                    <div class="shelter__txts">
                        <h2>ГРОШОВІ ПОЖЕРТВИ</h2>
                        <p>
                            Якщо Ви бажаєте пожертвувати безпосередньо у наш парк притулок, Ви можете відправити кошти
                            на нижче вказані реквізити:
                        </p>
                    </div>
                    <ul class="shelter__list shelter__list--acc js-copy-list">
                        <li data-copy='Громадська спілка «Нове життя»'>
                            <span>Повна назва:</span> Громадська спілка «Нове життя»
                        </li>
                        <li data-copy='ГС «Нове життя»'>
                            <span>Скорочена назва:</span> ГС «Нове життя»
                        </li>
                        <li data-copy='UA 253052990000026002046004652'>
                            <span>Рахунок:</span> UA 253052990000026002046004652
                        </li>
                        <li data-copy='43829200'>
                            <span>Код ЄДРПОУ:</span> 43829200
                        </li>
                        <li data-copy='АТ КБ "ПРИВАТБАНК" (ЄДРПОУ банку 14360570, код банку 305299)'>
                            <span>Банк:</span> АТ КБ "ПРИВАТБАНК" (ЄДРПОУ банку 14360570, код банку 305299)
                        </li>
                        <li data-copy="Благодійний внесок">
                            <span>Призначення платежу:</span> Благодійний внесок
                        </li>
                    </ul>
                    <button type="button" class="cta js-copy-trigger">
                        <span>
                            Скопіювати
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoCopy"></use>
                            </svg>
                        </span>
                        <span>
                            Скопійовано
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoCheck"></use>
                            </svg>
                        </span>
                        <span>
                            Помилка
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoError"></use>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="shelter__info">
                    <div class="shelter__txts">
                        <h2>ДОБРОЧИННІ ВНЕСКИ</h2>
                        <p>
                            Ви також можете допомогти нам, купуючи їжу та ліки для тварин, робочі засоби для доглядачів
                            або інші важливі предмети, які потрібно для парку притулку.
                        </p>
                    </div>
                    <h3 class="shelter__headline">СПИСОК ПОБАЖАНЬ:</h3>
                    <ul class="shelter__list shelter__list--wishes">
                        <li>
                            <img loading="lazy" decoding="async" src="./assets/images/icons/wish_1.png" alt="Icon">
                            <span>Фрукти:</span> яблука, ківі, сливи, ягоди, виноград, кавун,
                            гарбузи, апельсини.
                        </li>
                        <li>
                            <img loading="lazy" decoding="async" src="./assets/images/icons/wish_2.png" alt="Icon">
                            <span>Горіхи:</span> фундук, грецький горіх, арaхіс
                        </li>
                        <li>
                            <img loading="lazy" decoding="async" src="./assets/images/icons/wish_3.png" alt="Icon">
                            <span>Овочі:</span> помідори, морква, огірок та інші сезонні овочі,
                            безпечні для ведмедів
                        </li>
                        <li>
                            <img loading="lazy" decoding="async" src="./assets/images/icons/wish_4.png" alt="Icon">
                            <span>Мед</span>
                        </li>
                        <li>
                            <img loading="lazy" decoding="async" src="./assets/images/icons/wish_5.png" alt="Icon">
                            <span>Ciнo</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>