<style>
    main {
        display: flex;
        flex-direction: column;
    }

    .starter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;
        gap: 20px;
        height: 100%;

        p {
            font-size: 100px;
            margin-bottom: 20px;
        }

        img {
            max-width: 300px;
            margin: 0 auto;
        }
    }
</style>

<section class="starter">
    <div class="container">
        <p>{{ starter.preview.title }}</p>
        <img src="{{ starter.preview.src }}" alt="{{ starter.preview.alt }}">

        {{#each starter.test}}
        <p>{{ title }}</p>
        {{/each}}
    </div>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">1</div>
        </div>
    </div>
</section>