<section class="tour" id="section-map">
    <div class="container">
        <div class="tour__map">
            <img loading="lazy" decoding="async" src="./assets/images/map.png" alt="Map">
        </div>
        <a download href="./assets/images/map.png" class="cta tablet--visible">Завантажити мапу</a>
        <div class="tour__includes">
            <div class="tour__logo">
                <img loading="lazy" decoding="async" src="./assets/images/icons/logo.png" alt="Logo">
            </div>
            <ul class="tour__list">
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_1.png" alt="Icon">
                    <p>Дикі тварини</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_2.png" alt="Icon">
                    <p>Оглядовий міст-галерея</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_3.png" alt="Icon">
                    <p>Прогулянкові маршрути</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_4.png" alt="Icon">
                    <p>Фотозони</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_5.png" alt="Icon">
                    <p>Кафе</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_6.png" alt="Icon">
                    <p>Зона відпочинку</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_7.png" alt="Icon">
                    <p>Власна парковка</p>
                </li>
                <li>
                    <img loading="lazy" decoding="async" src="./assets/images/icons/ico_tour_8.png" alt="Icon">
                    <p>Екскурсійний супровід</p>
                </li>
            </ul>
            <a download href="./assets/images/map.png" class="cta tablet--hidden">Завантажити мапу</a>
        </div>
    </div>
</section>