@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.charity {
    overflow: hidden;
    position: relative;
    padding-block: rem(96px) rem(211px);

    .bg-brach {
        max-width: rem(1600px);

        &--l {
            left: 0;
            top: rem(-50px);
        }
        &--r {
            right: 0;
            bottom: rem(-100px);
            transform: rotate(180deg) translateX(-60%);
        }
    }

    &__content {
        max-width: rem(1708px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24px);
    }

    &__pic {
        max-width: rem(898px);
        aspect-ratio: 898 / 888;
        height: 100%;
        overflow: hidden;
        border-radius: rem(30px);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__details {
        max-width: rem(662px);
        img {
            width: rem(91px);
            aspect-ratio: 1;
            margin-bottom: rem(35px);
        }
    }

    &__txts {
        font: 400 #{rem(18px)} / 100% $ff_base;
        display: flex;
        flex-direction: column;
        gap: rem(35px);
        margin-bottom: rem(35px);
        color: #00000080;
        * {
            margin: 0;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font: 700 #{rem(40px)} / 100% $ff_sec;
            color: $c_text;
        }

        span {
            font-size: rem(20px);
            color: $c_accent;
        }

        a {
            text-decoration: underline;
            color: $c_accent;
        }
    }
}
