@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.donation {
    padding-block: rem(275px);
    overflow: hidden;
    position: relative;

    @include media('laptop') {
        padding-block: rem(112px);
    }

    @include media('tablet') {
        padding-block: rem(96px);
    }
    @include media('mobile') {
        padding-block: rem(56px) rem(320px);
    }

    &__bg {
        mix-blend-mode: multiply;
        position: absolute;
        max-width: rem(822px);
        bottom: 0;

        @include media('laptop') {
            max-width: rem(400px);
        }

        @include media('mobile') {
            max-width: rem(298px);
            height: rem(304px);
            img {
                object-fit: contain;
                height: 100%;
            }
        }

        &--l {
            left: 0;
            transform: translateX(-40%);
            @include media('desktop-lg') {
                transform: translateX(-55%);
            }
            @include media('mobile') {
                transform: translateX(-25%);
            }
        }

        &--r {
            right: 0;
            transform: translateX(40%);
            @include media('desktop-lg') {
                transform: translateX(55%);
            }
            @include media('mobile') {
                transform: translateX(25%);
            }
        }
    }

    &__content {
        padding: rem(20px);
        max-width: rem(967px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: rem(30px);
        align-items: center;
        text-align: center;
        @include media('desktop') {
            max-width: rem(650px);
        }
        @include media('mobile') {
            gap: rem(24px);
            border-radius: rem(16px);
        }
    }

    &__headline {
        font: 700 #{rem(24px)} / 100% $ff_base;
        text-transform: uppercase;
        color: $c_accent;
        @include media('tablet') {
            font-size: rem(20px);
        }
        @include media('mobile') {
            font-size: rem(18px);
        }
    }

    .section-subtitle {
        @include media('mobile') {
            font-size: rem(24px);
        }
    }
}
