@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.donation {
    padding-block: rem(120px);
    overflow: hidden;
    position: relative;

    @include media('laptop') {
        padding-block: rem(112px);
    }

    @include media('tablet') {
        padding-block: rem(96px);
    }
    @include media('mobile') {
        padding-block: rem(56px) rem(320px);
    }

    &__bg {
        position: absolute;
        bottom: 0;
        --donation_gutter: calc((100vw - 60.4375rem) / 2);
        width: clamp(16.25rem, var(--donation_gutter) - 1rem, 35rem);
        max-width: none;


        @include media('mobile') {
            max-width: rem(298px);
            height: rem(304px);
            img {
                object-fit: contain;
                height: 100%;
            }
        }

        &--l {
            left: 0;
        }

        &--r {
            right: 0;
        }
    }

    &__content {
        max-width: rem(967px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: rem(30px);
        align-items: center;
        text-align: center;
        @include media('desktop') {
            max-width: rem(650px);
        }
        @include media('mobile') {
            gap: rem(24px);
        }
    }

    &__headline {
        font: 700 #{rem(24px)} / 100% $ff_base;
        text-transform: uppercase;
        color: $c_accent;
        @include media('tablet') {
            font-size: rem(20px);
        }
        @include media('mobile') {
            font-size: rem(18px);
        }
    }

    .section-subtitle {
        @include media('mobile') {
            font-size: rem(24px);
        }
    }
}
