@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.hero {
    overflow: hidden;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    padding-block: rem(150px) rem(40px);
    --aspect-box: #{rem(333px)};

    @include media('mobile') {
        padding-block: rem(200px) rem(24px);
    }

    .bg-layer {
        &::after {
            content: '';
            position: absolute;
            opacity: 0.3;
            inset: 0;
            background: $c_text;
        }
    }

    .container {
        max-width: rem(1900px);
        z-index: 2;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include media('mobile') {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    .section-title {
        max-width: rem(1100px);
        color: $bg_body;
        @include media('mobile') {
            flex: 1;
            display: flex;
            align-items: center;
        }
    }

    .schedule-box {
        max-width: var(--aspect-box);
        position: absolute;
        bottom: rem(10px);
        right: var(--container_pdd);
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        @include media('tablet') {
            bottom: 0;
        }
        @include media('mobile') {
            margin-top: auto;
            position: relative;
            max-width: 100%;
            width: 100%;
            transform: translate(0, 10%);
            right: auto;
        }

        &.is-show {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            @include media('mobile') {
                transform: translate(0, 0);
            }
        }
    }

    &__content {
        max-width: calc(100% - var(--aspect-box) - #{rem(24px)});
        @include media('mobile') {
            max-width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            gap: rem(12px);
        }
    }
}
