@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.tour {
    padding-block: rem(82px);

    &__map {
        max-width: 70%;
        img {
            width: 100%;
        }
    }

    &__includes {
        flex-shrink: 0;
        max-width: rem(374px);
        width: 100%;
    }

    &__logo {
        max-width: rem(240px);
        margin: 0 auto rem(34px);
        filter: brightness(0);
        img {
            width: 100%;
        }
    }

    &__list {
        margin-bottom: rem(60px);
        li {
            font: 400 #{rem(18px)} / 100% $ff_base;
            gap: rem(20px);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            padding-block: rem(10px);
            border-bottom: 1px dashed #00000033;
            img {
                width: rem(42px);
                height: rem(42px);
            }
        }
    }

    .cta {
        width: 100%;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24px);
    }
}
